xml/exercice2.DTD

<!ELEMENT TYPE (PART|ENT)*>
<!ELEMENT PART (TITRE,NOM,RUE_NUM,RUE_NAME,CODE_POST,VILLE)>
<!ATTLIST PART

            TITRE (Mr|Mme|Mlle|Autre) #REQUIRED
            NOM CDATA #REQUIRED
            PRENOM CDATA #IMPLIED
            RUE_NUM CDATA #IMPLIED
            RUE_NAME CDATA #REQUIRED
            CODE_POST CDATA #REQUIRED
            VILLE CDATA #REQUIRED
>
<!ATTLIST ENT
        NOM CDATA #REQUIRED
        RUE_NUM CDATA #IMPLIED
        RUE_NAME CDATA #REQUIRED
        BOITE_POST CDATA #REQUIRED
        CODE_POST CDATA #REQUIRED
        VILLE CDATA #REQUIRED
>